:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  margin: 0;
  font-family: sans-serif;
  transition: color 150ms var(--timing-function);
}

.input {
  display: flex;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;

  height: 40px;
  width: 240px;
}

.gallery {
  padding: 16px 24px;

  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100% - 64px);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 24px;
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 8px;

  border: 1px solid rgb(5, 10, 39);
  border-radius: 4px;
  background-color: rgb(5, 10, 39);
  box-shadow: 4px 4px 16px 0px rgba(194, 193, 206, 0.39);
}

.photo-card:hover {
  cursor: pointer;
}
img {
  height: 300px;
  object-fit: cover;
  max-width: 100%;
}

.stats {
  display: flex;
  justify-content: space-around;
}

.stats-item {
  padding: 4px 8px;
  margin: 4px;
  color: #fff;
}
.material-icons {
  margin-right: 6px;
}

button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 20px;

  color: #fff;
  background-color: #3f51b5;
  border: 0;
  outline: 0;
  padding: 8px 24px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.05);
  font: inherit;
  font-weight: 500;
  user-select: none;
  transition: background-color 250ms var(--timing-function);
}

.button:hover {
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.15);
  background-color: #1976d2;
}

/* spinner */

.container {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 30px;
  height: 30px;
  -webkit-animation: rotation 1s infinite;
  animation: rotation 1s infinite;
}

.is-hidden {
  display: none;
}

.container .shape {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 2px;
}
.container .shape.shape-1 {
  left: 0;
  background-color: #4285f4;
}
.container .shape.shape-2 {
  right: 0;
  background-color: #34a853;
}
.container .shape.shape-3 {
  bottom: 0;
  background-color: #fbbc05;
}
.container .shape.shape-4 {
  bottom: 0;
  right: 0;
  background-color: #ea4335;
}
.container .shape-1 {
  -webkit-animation: shape1 2s linear infinite;
  animation: shape1 2s linear infinite;
}
.container .shape-2 {
  -webkit-animation: shape2 2s linear infinite;
  animation: shape2 2s linear infinite;
}
.container .shape-3 {
  -webkit-animation: shape3 2s linear infinite;
  animation: shape3 2s linear infinite;
}
.container .shape-4 {
  -webkit-animation: shape4 2s linear infinite;
  animation: shape4 2s linear infinite;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes shape1 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(0, 18px);
    transform: translate(0, 18px);
  }
  50% {
    -webkit-transform: translate(18px, 18px);
    transform: translate(18px, 18px);
  }
  75% {
    -webkit-transform: translate(18px, 0);
    transform: translate(18px, 0);
  }
}
@keyframes shape1 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(0, 18px);
    transform: translate(0, 18px);
  }
  50% {
    -webkit-transform: translate(18px, 18px);
    transform: translate(18px, 18px);
  }
  75% {
    -webkit-transform: translate(18px, 0);
    transform: translate(18px, 0);
  }
}
@-webkit-keyframes shape2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-18px, 0);
    transform: translate(-18px, 0);
  }
  50% {
    -webkit-transform: translate(-18px, 18px);
    transform: translate(-18px, 18px);
  }
  75% {
    -webkit-transform: translate(0, 18px);
    transform: translate(0, 18px);
  }
}
@keyframes shape2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-18px, 0);
    transform: translate(-18px, 0);
  }
  50% {
    -webkit-transform: translate(-18px, 18px);
    transform: translate(-18px, 18px);
  }
  75% {
    -webkit-transform: translate(0, 18px);
    transform: translate(0, 18px);
  }
}
@-webkit-keyframes shape3 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(18px, 0);
    transform: translate(18px, 0);
  }
  50% {
    -webkit-transform: translate(18px, -18px);
    transform: translate(18px, -18px);
  }
  75% {
    -webkit-transform: translate(0, -18px);
    transform: translate(0, -18px);
  }
}
@keyframes shape3 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(18px, 0);
    transform: translate(18px, 0);
  }
  50% {
    -webkit-transform: translate(18px, -18px);
    transform: translate(18px, -18px);
  }
  75% {
    -webkit-transform: translate(0, -18px);
    transform: translate(0, -18px);
  }
}
@-webkit-keyframes shape4 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(0, -18px);
    transform: translate(0, -18px);
  }
  50% {
    -webkit-transform: translate(-18px, -18px);
    transform: translate(-18px, -18px);
  }
  75% {
    -webkit-transform: translate(-18px, 0);
    transform: translate(-18px, 0);
  }
}
@keyframes shape4 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(0, -18px);
    transform: translate(0, -18px);
  }
  50% {
    -webkit-transform: translate(-18px, -18px);
    transform: translate(-18px, -18px);
  }
  75% {
    -webkit-transform: translate(-18px, 0);
    transform: translate(-18px, 0);
  }
}

/* модальне вікно  */
